html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.quest-header {
    background-color: black;
    color: white;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    height: 100%; /* Растягиваем на всю высоту экрана */
}

.daily-quests-divider {
    width: 100%;
    height: 30%; /* Фиксированная высота в 60 пикселей */
    background-image: url("../images/wood.png");
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
}


.header-top {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 100%;
    z-index: 1; /* Ensure this is lower than columns */
}

.header-title-container {
    background-image: url('../images/wood.png');
    background-size: cover;
    padding: 14px 23px;
    margin-right: 74%;
    border-radius: 5px;
    position: relative; /* Добавлено */
    margin-bottom: -14px;
}

.header-title {
    margin: 0;
    font-size: 24px;
    color: white;
    white-space: nowrap;
}


.column {
    width: 15px;
    height: 100%;
    background-image: url('../images/columm.png');
    background-size: cover;
    position: absolute;
    top: 0;
    z-index: 0;
}

.left-column {
    left: calc(50% + -190px);
}

.right-column {
    right: calc(35%);
}

.close-icon {
    width: 46px;
    cursor: pointer;
    position: absolute;
    top: 56%;
    right: 32%;
    z-index: 5;
}



